<hr>
<div class="col-12 row">
    <div class="col-8 row">
        <div class="form-group col-6">
            <i class="mdi mdi-plus-circle" (click)="InsertarTipoCobro()" aria-hidden="true" style="font-size: 300%; margin: 15px; cursor: pointer;"></i>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered ">
        <tr style="background: #c9e2de;;font-size: 12px">
            <th class="text-center">Descripcion</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Eliminar</th>
        </tr>
        <tr style="font-size: 12px" *ngFor="let cat of listaTipoCobro;let indice=index">
            <td class="text-center">{{cat.descripcion}}</td>
            <td class="text-center">
                <i class="mdi mdi-pencil" (click)="ActualizarTipoCobro(indice)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
            </td>
            <td class="text-center">
                <i class="mdi mdi-delete" (click)="EliminarEmpresa(indice)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
            </td>
        </tr>
    </table>
</div>