<form #nuevousuario="ngForm" novalidate>
    <div class="modal-header" style="justify-content: center;">
        <h5 class="modal-title" style="font-size:15px; font-weight: bold; text-transform: uppercase;">{{tituloEmpleado}}</h5>
    </div>
    <div class="modal-body">
        <div class="col-12">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label min">*Descripcion :</label>
                <div class="col-sm-6">
                    <input [(ngModel)]="user.name" name="#user.name" type="text" class="form-control form-control-sm min" required>
                </div>
            </div>
            <div class="form-group col-5">
                <label style="font-size: 12px">*Fecha inicio  :</label>
                <ejs-datepicker   format='dd-MM-yyyy' type="text" id='datepicker3' placeholder='Elige una fecha' > </ejs-datepicker>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label min">*Responsable :</label>
                <div class="col-sm-6">
                    <!-- <option>Empresa 1</option> -->
                    <ng-select [items]="lsperfiles" name="#user.idperfiles" bindLabel="nombres" bindValue="id_perfiles" placeholder="seleccione" [(ngModel)]="user.idperfiles" required></ng-select>
                </div>
            </div>
       
            <div class="form-group row">
                <label class="col-sm-3 col-form-label min">Observacion :</label>
                <div class="col-sm-6">
                    <input [(ngModel)]="user.email" name="#user.email" type="email" class="form-control form-control-sm min">

                </div>
            </div>
      
        </div>
    </div>
    <div class="modal-footer">
        <p style="font-size: 12px;position: absolute;left: 30px;opacity: 0.7;">Campos obligatorios</p>
        <span style="font-size: 30px;position: absolute;top: 252px;left: 10px;opacity: 0.7;">*</span>
        <button type="button" class="btn btn-warning btn-sm min" (click)="close()" data-dismiss="modal" style="cursor: pointer">Cancelar</button>
        <button type="button" class="btn btn-primary btn-sm min" [disabled]="nuevousuario.form.invalid" (click)="insertUsers()" style="cursor: pointer">Aceptar</button>
    </div>
</form>