<form #nuevocuenta="ngForm" novalidate>
    <div class="modal-header" style="justify-content: center;">
        <h5 class="modal-title" style="font-size:15px; font-weight: bold; text-transform: uppercase;">{{tituloTipoCobro}}</h5>
    </div>

    <div class="modal-body">
        <div class="col-12" style="margin: 0;">
            <div class="col-12 mt-3 mb-3" style="border:2px solid #d6d6d6; border-radius: 15px; padding: 10px;flex: 0 0 48%; margin: 0 7px 0 0;">
                <div class="form-row col-12">
                    <div class="col-12 mb-3">
                        <label for="desc" style="font-weight: bold;">*Descripción :</label>
                        <input id="desc" type="text" class="form-control form-control-sm min" [(ngModel)]="tipocobro.descripcion" name="#cuenta.descripcion_cuenta" autocomplete="off" required>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">

        <p style="font-size: 11px;position: absolute;left: 30px;opacity: 0.7;">Campos obligatorios</p>
        <span style="font-size: 30px;position: absolute;top: 197px;left: 10px;opacity: 0.7;">*</span>

        <button class="btn btn-warning btn-sm min" data-dismiss="modal" (click)="close()">Cancelar</button>
        <button class="btn btn-primary btn-sm min" [disabled]="nuevocuenta.form.invalid" (click)="UpdateInsertTipoCobro()" style="cursor: pointer">Aceptar</button>
    </div>
</form>