<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h6 class=" text-themecolor" style="font-weight: bold;"> <i [ngClass]="icon"></i> {{ label }}
            <button class="btn btn-success btn-sm" [hidden]="label === 'Ingresos Finanzas' ? false : true" style="font-size: 12px; margin-left: 15px"> Creaar Documento </button>
            <i class="mdi mdi-cart-plus" [hidden]="label === 'Ingresos Almacen' ? false : true" aria-hidden="true" style="font-size: 250%; margin-left: 15px; cursor: pointer;"></i>
        </h6>
    </div>


</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->