<div class="modal-header" style="justify-content: center;">
    <h5 class="modal-title">CONFIRMAR CENTRO COSTOS</h5>
</div>
<div class="modal-body">
    <p class="min" style="text-align: center; margin-top: 15px; font-size: 16px;">¿Desea guardar el nuevo centro de costos?</p>
</div>
<div class="modal-footer" style="padding: 7px 15px;justify-content: center;">
    <i (click)="retroceder()" class="mdi mdi-backburger" style="cursor: pointer; font-size: 35px;color: #06d79c"></i>
    <i (click)="close()" class="mdi mdi-close-circle" style="cursor: pointer; font-size: 35px;color: #dc3545"></i>
    <i (click)="insertarCentroCosto()" class="mdi mdi-content-save" style="cursor: pointer; font-size: 35px;color: #17a2b8"></i>
</div>