<hr>
<div class="col-12 row">
    <div class="col-12 row" style="margin-bottom: 20px;">
        <div class="form-group col-2">
            <i class="mdi mdi-plus-circle" aria-hidden="true" (click)="nuevoPerfil()" style="font-size: 300%; margin: 15px; cursor: pointer;"></i>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered ">
        <tr style="background: #c9e2de;;font-size: 12px">
            <th class="text-center">Nombre</th>
            <th class="text-center">Estado </th>
            <th class="text-center">Permisos</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Eliminar</th>
        </tr>
        <tr style="font-size: 12px" *ngFor="let cat of lsPerfil;let indice=index">
            <td class="text-center">{{cat.nombres}}</td>
            <td class="text-center">
                <i style="font-size: 18px;" [ngClass]="cat.estado == 1 ? 'mdi mdi-eye' : 'mdi mdi-eye-off' "></i>
            </td>
            <td class="text-center">
                <i class="mdi mdi-lock-open" (click)="PermisosPerfil(indice)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
            </td>
            <td class="text-center">
                <i class="mdi mdi-pencil" (click)="ActualizarPerfil(indice)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
            </td>
            <td class="text-center">
                <i class="mdi mdi-delete" (click)="EliminarPefil(indice)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
            </td>
        </tr>
    </table>
</div>